<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Generator</title>
  </head>
  <body>
  <div class="container text-center">
    <h1>Password Generator</h1>
    <h3>Generates a random password.</h3>
    <br>
    <form action="{% url 'password' %}">
    <!-- {% csrf_token %} -->
      <select name="length">
        <option value="6">6</option>
        <option value="8" selected='selected'>8</option>
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="14">14</option>

      </select>

      <br>
      <input type="checkbox" name="uppercase"> Uppercase
      <br>
      <input type="checkbox" name="numbers"> Numbers
      <br>
      <input type="checkbox" name="special"> Special characters
      <br>
      <input type="submit" value="Generate Password" class="btn btn-primary">

    </form>

    <a href="{% url 'about' %}"> About </a>
</div>
  </body>
</html>
